.MoneySlot {
  width: 518px;
  height: 600px;

  &-slot {
    width: 100%;
    height: 80px;
    background-image: url(../../assets/money-slot.jpg);
    background-repeat: no-repeat;
  }
  &-moneyWrapper {
    height: 320px;
    width: 518px;
    overflow: hidden;
    margin-top: -30px
  }
  &-money {
    height: 265px;
    width: 460px;
    background: #6ECFCE;
    border-radius: 10px;

    span {
      font-size: 2em;
      color: #FFF;
      padding: 10px;
      font-family: cursive;
    }
  }
  .moneyInserted {
    transform: translate3d(0, -320px, 0);
  }
  .moneyEject {
    transform: translate3d(0, 0, 0);
    transition: transform 3s ease-in-out;
  }
}
